<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Orders</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css" integrity="sha512-qB/HM3q+Pf6U8jjYjKCBJ2Qk+lf9WbR8jtyZl6zZGv3Cq6w8UtpMQyjQuqw2Q/v+B9XbW8R79NCnZTgjKzVyEA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-50">
    <header class="bg-white shadow">
    <div class="container mx-auto py-4 px-8">
        <h1 class="text-gray-800 font-bold text-xl">Recent Orders</h1>
    </div>
    </header>

    <main class="container mx-auto py-6 px-8">
    <!-- Recent Orders -->
    <section class="bg-white rounded-lg shadow">
        <div class="overflow-x-auto">
        <table class="table-auto w-full whitespace-no-wrap">
            <thead>
            <tr class="text-left font-bold">
                <th class="px-4 py-2">Order ID</th>
                <th class="px-4 py-2">Orders</th>
                <th class="px-4 py-2">Date</th>
                <th class="px-4 py-2">Total</th>
            </tr>
            </thead>
            <tbody class="text-gray-700">
            <tr>
                <td class="px-4 py-3">12345</td>
                <td class="px-4 py-3">Peach Iced Tea</td>
                <td class="px-4 py-3">2023-04-12</td>
                <td class="px-4 py-3">₹105</td>
            </tr>
            <tr>
                <td class="px-4 py-3">12344</td>
                <td class="px-4 py-3">Brow-Tella shake</td>
                <td class="px-4 py-3">2023-03-19</td>
                <td class="px-4 py-3">₹180</td>
            </tr>
            <tr>
                <td class="px-4 py-3">12343</td>
                <td class="px-4 py-3">Mud Shake</td>
                <td class="px-4 py-3">2023-02-10</td>
                <td class="px-4 py-3">₹190</td>
            </tr>
            <tr>
                <td class="px-4 py-3">12342</td>
                <td class="px-4 py-3">Regular Tea</td>
                <td class="px-4 py-3">2023-01-12</td>
                <td class="px-4 py-3">₹20</td>
            </tr>
            <tr>
                <td class="px-4 py-3">12341</td>
                <td class="px-4 py-3">Orange Juice</td>
                <td class="px-4 py-3">2022-12-29</td>
                <td class="px-4 py-3">₹60</td>
            </tr>
            </tbody>
        </table>
        </div>
    </section>
    
    <!-- Canvas 1 -->
    <div class="flex flex-col lg:flex-row mt-6">
        <div class="w-full lg:w-1/2 lg:mr-2 mb-4 lg:mb-0">
        <div class="bg-white rounded-lg shadow">
            <canvas #canvas> </canvas>
        </div>
        </div>
        <!-- Canvas 2 -->
        <div class="w-full lg:w-1/2 lg:ml-2">
        <div class="bg-white rounded-lg shadow">
            <canvas id="canvas2"> </canvas>
        </div>
        </div>
    </div>
</main>
</body>
</html>    
